<%- include('partials/header') %>
<div class="jubmotron text-center">
    <div class="container">
        <i class="fas fa_key fa-6x"></i>
        <h1 class="display_3">You have discovered my secrets</h1>
        <p class="secret-text">Hritwik Roshan is my hero</p>
        <hr>

        <a class="btn btn-light btn-lg" href="/logout" role="button">Log out</a>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a secret</a>

    </div>
</div>
<%- include('partials/footer') %>
